.box {
	display: flex;
}

.alignstart {
	justify-content: flex-start;
}

.aligncenter {
	justify-content: center;
}

.alignend {
	justify-content: flex-end;
}

.alignstretch {
	&>* {
		flex-grow: 1;
	}
}