@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico:regular&display=swap");

@import "./scss/theming";

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  padding-top: 106px;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);

  ::selection {
    color: #fff;
    background-color: var(--activeColor);
  }
}

html:has(._menu-opened),
html:has(._lock-html) {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

.observe {
  transition: transform .5s, opacity .5s;
  transform: translateX(-30px);
  opacity: 0;

  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}

.buttons {
  display: flex;
  gap: 8px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  &>* {
    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 3;
    }
  }
}

::-webkit-scrollbar {
  background-color: var(--backgroundColor);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #202020;
  border: var(--backgroundColor) 5px solid;
  border-radius: 20px;


  &:hover {
    background-color: #232323;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: .4em;

  li {
    display: flex;
    gap: 8px;

    &::before {
      content: '·';
      font-weight: 700;
    }
  }
}