@use '../../scss/vars';
@use '../../scss/mixins';

.link {
	color: vars.$accent-color;
	font-size: mixins.rem(14);
	font-weight: 500;

	&:hover {
		color: lighten(vars.$accent-color, 10%)
	}

	&:active {
		color: darken(vars.$accent-color, 10%)
	}
}