@use '../../scss/mixins';

.link {
	color: var(--mainColor);
	;
	font-size: mixins.rem(14);
	font-weight: 500;

	&:hover {
		color: var(--hoverColor);
	}

	&:active {
		color: var(--activeColor);
	}
}